body {
  margin: 0;
  padding: 0;
  background-image: url('../img/teamtest.png');
  background-position: cover;
}

h1 {
  color: #333 !important;
}

div.container form {
  margin-top: 20%;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}

p.text-center a {
  color: black;
  font-size: 15px;
}
div.container form p a {
  font-size: 20px;
}
div.container h1 {
  color: white;
}

@media (min-width:376px){
  div.container form {
    width: 300px;
    margin-top: 10%;
  }
}
